

.att_bio_wrapper {
	max-width:1490px;
	margin:110px auto;
	display: flex;
	padding-left:75px;
	padding-right:75px;
}


.att_bio_sidebar {
	flex-basis:430px;
	flex-shrink:0;
	
}


.att_bio_sidebar_inner {
	background: #fff;
	box-shadow: 0px 1px 50px 0px rgba(33, 33, 33, 0.2);
	padding:60px 68px 82px;
}

.single_case_icon {
	margin-right:31px;
}


.att_bio_content {
	flex-grow:1;
	padding-left:12%;
	margin-top:20px;
}


.att_bio_profile {
	margin-bottom: 70px;
	img {
		border-radius:50%;
		width:190px;
		height:190px;
		margin:0 auto;
		display: block;
	}
}


.att_bio_placeholder {
	width:190px;
	height:190px;
	background: $offwhite;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin:0 auto;
	span {
		text-transform: uppercase;
		font-size:15px;
		letter-spacing: 0.35em;
		max-width: 125px;
		text-align: center;
		line-height: 25px;
		@include montserrat_extrabold;
	}
}


.att_bio_address_wrapper {
	margin-bottom:60px;
	span {
		display: block;
	}
	span.att_bio_sidebar_title {
		text-transform: uppercase;
		display: block;
		font-size: 16px;
		letter-spacing: 0.15em;
		margin-bottom:12px;
		@include montserrat_extrabold;
	}
	span.att_bio_address, a.att_bio_phone {
		display: block;
		font-size: 20px;
		line-height: 28px;
		font-family: $worksans;
	}
	span.att_bio_address {
		max-width: 250px;
	}
	a.att_bio_phone {
		text-decoration: none;
		color:#000;
	}
	a.get_directions {
		color:$bluetwo;
		text-transform: lowercase;
		font-family: $worksans;
		font-weight:700;
		font-size:18px;
		letter-spacing: 0.05em;
		margin-top:5px;
		display: inline-block;
	}
}





a.visit_website_button {
	text-transform: uppercase;
	font-size: 16px;
	letter-spacing: 0.25em;
	text-decoration: none;
	text-align: center;
	display: block;
	padding:31px;
	border:3px solid $bluetwo;
	color:$bluetwo;
	@include montserrat_extrabold;
	transition: all 200ms ease-in-out;
	&:hover {
		background: $bluetwo;
		color:#fff;
	}
}

.att_bio_experience {
	margin-bottom:95px;
}


.att_bio_practice_areas {
	//adding-top:53px;
	padding-bottom: 55px;
}

.att_bio_pa_list {
	ul {
		column-count:2;
		column-gap:65px;
		li {
			display: inline-block;
			width:100%;
			padding:17px 0px;
			border-bottom:1px solid #e2e2e2;
			&:before {
				display: none;
			}
			a {
				text-decoration: underline;
				border:none;
				&:hover {
					text-decoration: none;
					border:none;
				}
			}
		}
	}
}


.att_bio_selling_point {
	height:875px;
	width:100%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-left:75px;
	padding-right:75px;
	img {
		width:100%;
		height:100%;
		object-fit:cover;
		position: absolute;
		top:0;
		left:0;
	}
}


.att_bio_selling_point_inner {
	position: relative;
	z-index: 1;
	text-align: center;
	span {
		color:#fff;
	}
	span.selling_points_subheader {
		text-transform: uppercase;
		font-size: 18px;
		letter-spacing: 0.35em;
		border-bottom:3px solid $blue;
		display: inline-block;
		padding-bottom:16px;
		line-height: 22px;
		@include montserrat_extrabold;
	}
	span.selling_points_description {
		display: block;
		font-size: 65px;
		font-family: $prata;
		line-height: 85px;
		padding:53px 0 0;
		max-width:1130px;
	}
}

.att_bio_middle_content_wrapper {
	margin: 0 auto;
	padding: 45px 0 100px;
	background: $offwhite;
}


.att_bio_middle_content_inner {
	max-width: 1490px;
  margin: 110px auto;
  display: flex;
  padding-left: 75px;
  padding-right: 75px;
}

.att_bio_middle_content {
	flex-grow:1;
	padding-right:10%;
}

.att_bio_middle_sidebar {
	flex-basis:442px;
	flex-shrink: 0;
	.att_bio_middle_sidebar_inner {
		border-left:1px solid #d7d7d7;
		padding-left:22%;
		
	}
}


		.att_bio_sidebar_row {
			padding-bottom:25px;
			span.att_bio_sidebar_title {
				color:$bluetwo;
				text-transform: uppercase;
				font-size: 18px;
				letter-spacing: 0.35em;
				display: block;
				padding-bottom:19px;
				@include montserrat_extrabold;
			}
			ul {
				li {
					margin-bottom:10px;
				}
			}
		}


.att_bio_caseresults {
	padding:0 0px 170px;
}


.att_bio_caseresults_inner {
	max-width:1420px;
	margin:0 auto;
	padding:150px 75px 0;
}


h2.att_bio_title {
	font-size: 65px;
	color:$bluetwo;
	font-family: $prata;
	text-align: center;
	margin-bottom:71px;
}



.case_results_meta {
	//height:233px;
	width:100%;
	border-top:2px solid #d9d9d9;
	border-bottom:2px solid #d9d9d9;
	display: flex;
	justify-content: space-between;
	padding:70px 0;
}


.single_case_results_meta {
	flex-basis:33.333%;
	flex-shrink:0;
	display: flex;
}

.single_case_icon {
	flex-basis:57px;
	flex-shrink:0;
	img {
		width:58px;
		height:82px;
	}
}


.single_case_content {
	display: flex;
	flex-direction: column;
	padding-right:20px;
	//justify-content: center;
	span.cr_title {
		font-size: 25px;
		line-height: 30px;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		margin-top:9px;
		@include montserrat_extrabold;
	}
	span.cr_subtitle {
		text-transform: uppercase;
		font-size: 15px;
		line-height: 20px;
		letter-spacing: 0.2em;
		margin-top:9px;
		padding-bottom:5px;
		@include montserrat_extrabold;
	}
}


.att_bio_case_results_slider_wrapper {
	margin:75px 0 0;
	
	.slick-slide {
    margin: 0 20px;
    padding:20px 0;
  }
  /* the parent */
  .slick-list {
    margin: 0 -20px;
  }
}

.att_bio_case_results_slider {
	width:100%;
}



.att_bio_case_results_slide {
	text-align: center;
	box-shadow: 0px 1px 21px 0px rgba(33, 33, 33, 0.24);
	padding:118px 20px 0;
	height:500px;
	span.att_bio_case_results_title {
		color:$bluetwo;
		font-size: 40px;
		font-family: $prata;
		letter-spacing: 0.015em;
		display: block;
	}
	span.att_bio_case_results_subtitle {
		display: block;
		text-transform: uppercase;
		font-size:16px;
		letter-spacing: 0.25em;
		margin-top:33px;
		@include montserrat_extrabold;
	}
	span.att_bio_case_results_description {
		font-size: 20px;
		line-height: 34px;
		font-family: $worksans;
		display: block;
		max-width:330px;
		margin:45px auto 0;
	}
}


.cr_button_wrapper {
	max-width:640px;
	width:100%;
	height:66px;
	background: $offwhite;
	margin:50px auto 0;
	display: flex;
	justify-content: center;
	.cr_button {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-basis:50%;
		transition: all 200ms ease-in-out;
		cursor: pointer;
		&:hover {
			background: $blue;
		}
	}
	.cr_button_left {
		border-right:1px solid #fff;
		&:before {
			content:"";
			display: block;
			width: 0; 
			height: 0; 
			border-top: 6px solid transparent;
			border-bottom: 6px solid transparent; 
			border-right:6px solid $blue; 
			transition: all 200ms ease-in-out;
		}
		&:after {
			content:"";
			width:70px;
			height:2px;
			display: block;
			background: $blue;
			transition: all 200ms ease-in-out;
		}
		&:hover {
			&:before {
				border-right:6px solid #fff; 
			}
			&:after {
				background: #fff;
			}
		}
	}
	.cr_button_right {
		border-left: 1px solid #d8d8d8;
		&:hover {
			&:before {
				background: #fff;
			}
			&:after {
				border-left:6px solid #fff; 
			}
		}
		&:after {
				content:"";
				display: block;
				width: 0; 
				height: 0; 
				border-top: 6px solid transparent;
				border-bottom: 6px solid transparent;
				border-left: 6px solid $blue;
			}
			&:before {
				content:"";
				width:70px;
				height:2px;
				display: block;
				background: $blue;
			}
	}
}





.faq {
	background: $offwhite;
	padding:0 75px 175px;
}

.faq_inner {
	max-width:1400px;
	margin:0 auto;
	padding:153px 0 0;
}

.faq_questions {
	padding:12px 0 0;
	display: flex;
	justify-content: space-between;
	width:100%;
}

.faq_col {
	flex-basis:45%;
}


.single_faq {
	border-top:3px solid #e4e4e4;
	padding:60px 10px;
	cursor: pointer;
	&:last-of-type {
		border-bottom:3px solid #e4e4e4;
	}
	span.faq_question {
		text-transform: uppercase;
		font-size: 16px;
		letter-spacing: 0.15em;
		display: block;
		position: relative;
		color:#000;
		transition: all 200ms ease-in-out;
		line-height: 20px;
		padding-right: 31px;
		@include montserrat_extrabold;
		&:after {
			content:"+";
			font-size:27px;
			color:$bluetwo;
			position: absolute;
			top:0px;
			right:0;
		}
	}
	span.faq_question.active {
		color:$bluetwo;
		&:after {
			content:"-";
		}
	}
	.faq_answer {
		margin-top:18px;
		display: none;
		p, ul {
			margin-bottom: 16px;
		}
	}
}




.related_att {
	background:$offwhite;
	width:100%;
	text-align: center;
	padding:155px 75px;
	span.related_att_title {
		display: block;
		font-size:65px;
		line-height: 75px;
		font-family: $prata;
	}
}


.related_att_grid {
	display: flex;
	max-width:1731px;
	flex-wrap: wrap;
	margin:88px auto 0;
	justify-content: center;
	.related_single_att {
		height:560px;
		background: #fff;
		flex-basis:calc(25% - 36px);
		margin:0 18px 36px;
		padding:73px 45px;
		box-shadow: 0px 1px 21px 0px rgba(33, 33, 33, 0.24);
		position: relative;
		img {
			display: block;
			width:190px;
			height:190px;
			margin:0 auto;
			border-radius: 50%;
		}
		span.related_single_att_title {
			font-size: 32px;
			line-height: 40px;
			font-family: $prata;
			display: block;
			margin:30px 0 20px
		}
		span.related_single_att_subtitle {
			text-transform: uppercase;
			color:#a1a1a1;
			font-size:15px;
			letter-spacing: 0.25em;
			line-height: 18px;
			display: block;
			max-width:270px;
			margin:0 auto;
			@include montserrat_extrabold;
		}
		.related_view_profile_wrapper {
			position: absolute;
			bottom:50px;
			left:0;
			width:100%;
		}
		a.related_view_profile {
			color:$bluetwo;
			text-transform: uppercase;
			font-size: 14px;
			letter-spacing: 0.15em;
			text-decoration: none;
			display: inline-block;
			padding:22px 20px;
			border:3px solid $bluetwo;
			margin-top:45px;
			max-width: 243px;
			width:100%;
			background: transparent;
			transition: all 200ms ease-in-out;
			@include montserrat_extrabold;
			&:hover {
				background: $bluetwo;
				color:#fff;
			}
		}
	}
}






@media screen and (max-width: 1800px) {
	
	
.related_att_grid {
	max-width: 1321px;
	.related_single_att {
		flex-basis:calc(33.3333% - 36px);
	}
}
	
	
	
} /* Media Query */



@media screen and (max-width: 1450px) {
	
	
	.att_bio_content {
		padding-left:7%;
	}
	

} /* Media Query */




@media screen and (max-width: 1399px) {
	
	
	
.related_att_grid {
	max-width: 951px;
	.related_single_att {
		flex-basis:calc(50% - 36px);
	}
}
	
	
	
	
	
} /* Media Query */



@media screen and (max-width: 1275px) {
	
	
	
	.att_bio_case_results_slide {
		span.att_bio_case_results_description {
   		max-width: 390px;
		}
	}
	
	
	.case_results_meta {
		display: block;
		max-width:500px;
		margin:0 auto;
	}
	
	
	.single_case_results_meta {
		max-width:400px;
		margin:0 auto 35px;
		&:last-of-type {
			margin-bottom: 0;
		}
	}
	
	
	
} /* Media Query */



@media screen and (max-width: 1230px) {
	
	
	
	
	.att_bio_sidebar {
		flex-basis:370px;
	}
	
	.att_bio_sidebar_inner {
		padding: 60px 47px 82px;
	}
	
	.att_bio_middle_sidebar {
		flex-basis: 392px;
	}	
	
	
	
	.faq_questions {
		display: block;
		max-width:700px;
		margin-left:auto;
		margin-right:auto;
	}
	
	.faq_col {
		&:last-of-type {
			.single_faq {
				&:first-of-type {
					border-top:none;
				}
			}
		}
	}
	
	
} /* Media Query */



@media screen and (max-width: 1175px) {
	
	
.related_att_grid {
	.related_single_att {
		
	}
}
	
	
	
	
	
} /* Media Query */



@media screen and (max-width: 1066px) {
	
	
	
	
	.att_bio_caseresults {
		padding-left:60px;
		padding-right:60px;
	}
	
	
	.att_bio_wrapper {
		display: block;
		margin: 68px auto;
		padding-left:60px;
		padding-right:60px;
		span.att_bio_address {
			margin-left:auto;
			margin-right:auto;
		}
	}
	
	
	.att_bio_sidebar {
		max-width:450px;
		margin:0 auto;
		text-align: center;
	}
	
	.att_bio_sidebar_inner {
		padding: 60px 27px 57px;
	}
	
	.att_bio_content {
		padding-left:0;
		margin-top:90px;
	}
	
	a.visit_website_button {
		padding: 26px;
		max-width: 300px;
		margin-left:auto;
		margin-right:auto;
	}
	
	
	.att_bio_selling_point {
		height:auto;
		display: block;
		padding:240px 60px;
	}
	
	
	.att_bio_selling_point_inner {
		span.selling_points_description {
			font-size: 56px;
			line-height: 80px;
			max-width: 680px;
			margin-left:auto;
			margin-right:auto;
		}
	}
	
	
	
	.att_bio_middle_sidebar {
		padding-top:10px;
		.att_bio_middle_sidebar_inner {
			padding-left:0;
			border:none;
			
		}
	}
	
	
		.att_bio_sidebar_row {
				padding-bottom: 7px;
				span.att_bio_sidebar_title {
					padding-bottom: 0;
				}
			}
	
	.att_bio_middle_content_wrapper {
    padding: 60px 0 30px;
   }
	
	.att_bio_middle_content_inner {
		display: block;
		margin: 22px auto;
		padding-left: 60px;
    padding-right: 60px;
	}
	
	
	.att_bio_caseresults {
		padding: 0 60px 100px;
	}
	
	
	.att_bio_case_results_slider_wrapper {
		max-width: 810px;
		margin-left: auto;
		margin-right: auto;
	}
	
	
	.att_bio_caseresults_inner {
		padding: 110px 0 0;
	}
	
	h2.att_bio_title {
		font-size: 56px;
		margin-bottom: 49px;
	}
	
	.faq {
		padding-left: 40px;
		padding-right:40px;
		padding-bottom:175px;
	}
	
	
	.faq_inner {
		padding: 109px 0 0;
	}
	
	
.related_att {
	padding: 95px 37px;
	span.related_att_title {
		font-size: 55px;
		line-height: 65px;
	}
}
	
.related_att_grid {
	margin: 65px auto 0;
	.related_single_att {
		
	}
}
	
	
	
	
} /* Media Query */


@media screen and (max-width: 980px) {
	
	
	.att_bio_case_results_slider_wrapper {
    max-width: 610px;
  }
	
	
	
} /* Media Query */



@media screen and (max-width: 900px) {
	
	
	
.related_att {
	padding-left:40px;
	padding-right:40px;
	span.related_att_title {
		font-size: 55px;
		line-height: 65px;
	}
}
	
.related_att_grid {
	margin: 65px auto 0;
	max-width: 461px;
	.related_single_att {
		flex-basis: 100%;
		margin-left:0;
		margin-right:0;
		height:auto;
		.related_view_profile_wrapper {
			position: static;
		}
	}
}
	
	

	
} /* Media Query */


@media screen and (max-width: 767px) {
	
	.att_bio_wrapper {
		padding-left:40px;
		padding-right:40px;
	}
	
	.att_bio_sidebar {
		
	}
	
	.att_bio_content {
		margin-top: 90px;
	}
	
	.att_bio_practice_areas {
    padding-top: 23px;
    padding-bottom: 0px;
	}
	
	.att_bio_experience {
		margin-bottom: 44px;
	}
	
	.att_standard_education {
		padding-top: 38px;
		.att_bio_sidebar_row {
			padding-bottom: 0px;
		}
	}
 
	
	
	.att_bio_pa_list {
		ul {
			column-count:1;
			li {
				
			}
		}
	}
	
	
	.att_bio_selling_point {
		padding: 120px 40px;
	}
	
	
	.att_bio_selling_point_inner {
		span.selling_points_description {
			font-size: 43px;
			line-height: 54px;
			max-width: 590px;
		}
	}
	
	.att_bio_middle_content_inner {
		padding-left:40px;
		padding-right:40px;
	}
	
	
	.att_bio_caseresults {
		padding-left:0px;
		padding-right:0px;
		padding-bottom: 0;
	}
	
	
	.att_bio_caseresults_inner {
		padding: 70px 40px 0;
	}
	
	
	.att_bio_case_results_slider_wrapper {
		max-width:100%;
	}
	
	.att_bio_case_results_slider {
		max-width:500px;
		margin-left:auto;
		margin-right:auto;
	}
	
	.cr_button_wrapper {
		max-width:100%;
	}
	
	
	h2.att_bio_title {
		font-size: 42px;
		line-height: 47px;
		margin-bottom: 29px;
	}
	
	
	.single_case_content {
		span.cr_title {
			font-size: 20px;
			margin-top: 0px;
		}
		span.cr_subtitle {
			margin-top: 4px;
		}
	}
	
	
.single_case_icon {
	flex-basis: 45px;
	img {
		width:45px;
		height: 66px;
	}
}

.case_results_meta {
	padding: 43px 0;
}

.single_case_results_meta {
	margin: 0 auto 29px;
}


.att_bio_case_results_slider_wrapper {
	margin: 50px 0 0;
}


.att_bio_case_results_slide {
	padding: 60px 20px;
	height:auto;
	span.att_bio_case_results_title {
		font-size: 34px;
		line-height: 40px;
	}
}
    

	.faq {
		background: #fff;
		padding-bottom: 85px;
	}
	
	
	
.faq_inner {
	padding: 90px 0 0;
}


.related_att {
	padding-top:60px;
	padding-bottom:40px;
	span.related_att_title {
		font-size: 47px;
		line-height: 65px;
	}
}

.related_att_grid {
	margin: 40px auto 0;
	.related_single_att {
		
	}
}



	
	
} /* Media Query */
