.myedit {
	transition: all 200ms ease-in-out;
	position: relative;
	span.edit_icon {
		content:"";
		display: block;
		width:20px;
		height:20px;
		opacity: 0;
		visibility: hidden;
		position: absolute;
		z-index:1;
		cursor: pointer;
		transition: all 300ms ease-in-out;
		background: url(#{$themePath}images/edit.svg);
		background-size:20px;
	}
	&:hover {
		span.edit_icon {
			opacity: 1;
			visibility: visible;
		}
	}
}


.myedit.edit_sidebar {
	span.edit_icon {
		top:-3px;
		right:0;
	}
}

.myedit.edit_content {
	padding-bottom: 10px;
	span.edit_icon {
		bottom:0px;
		left:0;
	}
}

.myedit.edit_inline {
	padding-bottom: 10px;
	span.edit_icon {
		position: relative;
		display: inline-block;
		margin-left:30px;
		top:2px;
	}
}



.visit_website_button_wrapper.myedit {
	width:100%;
	padding-bottom:50px;
	span.edit_icon {
		top:auto;
		right:auto;
		left:0;
		bottom:10px;
		margin-right:-35px;
	}
}



.myacf_form {
	position: fixed;
	top:120px;
	right:0;
	width:100%;
	height:100%;
	z-index:0;
	display: flex;
	overflow-y: scroll;
	opacity: 0;
	visibility: hidden;
	transition: all 300ms ease-in-out;
	.myacf_form_left {
		flex-grow: 1;
		//height:100%;
		background: rgba(255,255,255,0.7);
	}
	.myacf_form_right {
		padding:45px 45px 100px;
		width:650px;
		height:4000px;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
		background: #fff;
		box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.49);
	}
}


.myacf_form.open {
	opacity: 1;
	visibility: visible;
}


html.fixed, body.fixed {
	overflow: hidden;
}

html, body {
	overflow: visible;
}


body.single-lawyer {
	#internal_main {
		filter: blur(0px);
		-webkit-filter: blur(0px);
		transition: filter 300ms ease-in-out;
	}
	#internal_main.blur {
		filter: blur(2px);
		-webkit-filter: blur(2px);
	}
}


.acf_close {
	width:50px;
	height:50px;
	position: absolute;
	top:25px;
	right:25px;
	cursor: pointer;
	&:before, &:after {
		content: "";
    display: block;
    width: 100%;
    height: 3px;
    background: #04289f;
    position: absolute;
    top: 23px;
    left: 0;
	}
	&:before {
		transform: rotate(45deg);
	}
	&:after {
		transform: rotate(-45deg);
	}
}


.myacf_form {

}

.acf-tab-wrap, .acf-field {
	display: none;
}

.acf-field {
	iframe {
		min-height:300px !important;
	}
}

.acf-hidden {
	display: none !important;
}

/*
[data-name="lawyer_phone"] {
	display: block;
}
*/




#message.updated {
	display: none;
/*
	position:fixed;
	top:0;
	left:0;
	width:100%;
	z-index:5;
	height:100%;
	background: red;
	display: flex;
	justify-content: center;
	align-items: center;
*/
}

