

.prepare_overlay {
	position: fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background: rgba(255,255,255,1);
	z-index:20;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	visibility: hidden;
	transition: all 200ms ease-in-out;
	//display: none;
	.prepare_overlay_inner {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100%;
		img {
			width:270px;
			margin-bottom:45px;
		}
	}
}


.prepare_overlay.fadein {
	opacity: 1;
	visibility: visible;
	transition-delay: 3000ms;
	span.prepare_items {
	  &:first-of-type {
			transition-delay: 1000ms;
			opacity: 1;
		}
		&:nth-of-type(2) {
			transition-delay: 4000ms;
			opacity: 1;
		}
  }
}



span.do_not_refresh {
	color: $blue;
  font-size: 17px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  line-height: 21px;
  padding-bottom:40px;
  display: block;
  @include montserrat_extrabold;
}

.prepare_content {
	padding-top:45px;
}
  
  span.prepare_items {
	  display: block;
	  font-size: 18px;
		line-height: 28px;
		margin-bottom:13px;
		text-align: center;
		font-family: $worksans;
		opacity: 0;
		transition: all 400ms ease-in-out;
		span {
			
		}
	}
  
  
$offset: 187;
$duration: 1.4s;

.spinner {
  animation: rotator $duration linear infinite;
}

@keyframes rotator {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(270deg); }
}

.mycircle {
  stroke-dasharray: $offset;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation:
    dash $duration ease-in-out infinite, 
    colors ($duration*4) ease-in-out infinite;
}

@keyframes colors {
	0% { stroke: $blue; }
	//25% { stroke: $bluetwo; }
	//50% { stroke: $bluetwo; }
	//75% { stroke: #1B9A59; }
  100% { stroke: $blue; }
}

@keyframes dash {
 0% { stroke-dashoffset: $offset; }
 50% {
   stroke-dashoffset: $offset/4;
   transform:rotate(135deg);
 }
 100% {
   stroke-dashoffset: $offset;
   transform:rotate(450deg);
 }
}




// success overlay



.success_overlay {
	position: fixed;
	top:0;
	left:0;
	width:100%;
	z-index: 15;
	height:100%;
	padding:0 35px;
	background:rgba(0,0,0,0.8);
	-webkit-overflow-scrolling: touch;
	display: none;
}

.success_overlay_inner {
	width:100%;
	max-width: 750px;
	background: #fff;
	margin:70px auto 0;
	text-align: center;
	padding:45px;
	svg#success {
		width:50px;
		height:50px;
	}
	span.success_header {
		display: block;
		color: #000;
    font-size: 23px;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    margin-bottom: 5px;
    line-height: 21px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-style: normal;
    margin:20px 0 20px;
	}
	p {
		font-family: "Work Sans",sans-serif;
    font-size: 20px;
    line-height: 34px;
	}
}

.success_close {
	background: #2117dc;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  padding: 19px 30px;
  margin-top:35px;
  display: inline-block;
  cursor: pointer;
  transition: all 200ms ease-in-out;
	@include montserrat_extrabold;
}


.success_content {
	max-width:600px;
	margin:0 auto;
}



// login screen


.custom_login {
/*
	position: fixed;
	top:0;
	left:0;
*/
	width:100%;
	height:100%;
	background: rgba(255,255,255,1);
	z-index:19;
	display: flex;
	justify-content: center;
	align-items: center;
	//opacity:0;
	//visibility: hidden;
	padding:0 35px;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	transition: all 200ms ease-in-out;
	.custom_login_inner {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100%;
		width: 350px;
		svg {
			width:320px;
			display: block;
		}
	}
}


.custom_login.fadein {
	opacity: 1;
	visibility: visible;
}

#loginform-custom {
	width:100%;
	margin-top:40px;
	p {
		margin-bottom:20px;
		label,input {
			display: block;
			width:100%;
		}
		label {
			text-transform: uppercase;
			font-size: 15px;
			line-height: 20px;
			letter-spacing: 0.15em;
			display: block;
			margin-bottom: 10px;
			font-family: 'Montserrat', sans-serif;
			font-weight: 800;
			font-style: normal;
		}
		input[type="text"], input[type="password"] {
			border: 2px solid #d8d8d8;
			font-size: 17px;
			line-height: 38px;
			border-radius: 10px;
			font-family: "Work Sans",sans-serif;
			padding: 4px 20px;
			width: 100%;
			transition: all 200ms ease-in-out;
		}
		input[type="checkbox"] {
			width: 25px;
			height: 25px;
			border: 2px solid #d8d8d8;
			position: relative;
			&:checked {
				//background: $offwhite;
				&:after {
					display: block;
				}
			}
			&:after {
				content: "";
				position: absolute;
				left: 8px;
				top: 3px;
				width: 7px;
				height: 11px;
				border: solid $bluetwo;
				border-width: 0 3px 3px 0;
				transform: rotate(45deg);
				display: none;
			}
		}
		input[type="submit"] {
			background: $bluetwo;
			color: #fff;
			font-size: 16px;
			text-transform: uppercase;
			letter-spacing: 0.25em;
			padding: 15px 30px;
			display: inline-block;
			transition: all 200ms ease-in-out;
			font-family: 'Montserrat', sans-serif;
			font-weight: 800;
	    font-style: normal;
	    
			&:hover {
	    	background: $blue;
    	}
		}
	}
	p.login-submit {
		width:170px;
		margin:30px auto 0;
	}
	p.login-remember {
		label {
			display: flex;
			align-items: center;
			input {
				margin-right:9px;
			}
		}
		
	}
}


span.back_to_site {
	display: block;
  color: #04289f;
  font-size: 15px;
  padding-top: 8px;
  cursor: pointer;
  text-decoration: underline;
  font-family: $worksans;
}

   
 @media screen and (max-width: 1066px) {
	 
	 
	 
	 .custom_login {
		 .custom_login_inner {
			 display: block;
			 margin-top:175px;
			 svg {
				 margin-left:auto;
				 margin-right:auto;
			 }
		 }
	 }
	 
	 #loginform-custom {
	 	p {
			label {
				text-align: left;
			}
		}
	}
	 
	span.back_to_site {
		text-align: center;
	}
	 
	 
 } /* Media Query */
 
 
 @media screen and (max-width: 767px) {
	 
	  
	 .custom_login {
		 .custom_login_inner {
		 	margin-top:75px;
		 	svg {
			 	width:280px;
		 	}
		}
	 }
	 
	 
 } /* Media Query */
 
 
 @media screen and (max-width: 380px) {
	 
	 
	 
	 .custom_login {
		 .custom_login_inner {
		 	margin-top:75px;
		 	svg {
			 	width:80%
		 	}
		}
	 }

	 
	 
	 
 } /* Media Query */

